/* wszystko */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* body */
body {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    min-height: 100vh;
    position: relative; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(https://i.pinimg.com/originals/36/73/6d/36736df449536b5844fc17717825c749.jpg);
    backdrop-filter: blur(20px);
}
/* logo */
.pierwszy {
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Zmienione na fixed, aby element był przyklejony do ekranu */
    left: 0px;
    top: 0px; /* Ustawiamy element na samej górze */
    width: 500px;
    height: 100px;
    padding: 30px; 
    background-color: transparent;
    z-index: 1000; /* Opcjonalne: upewnij się, że element będzie nad innymi elementami */
    
}

/* jak sie daje myszke  */
.pierwszy:hover {
    transform: scale(1.1);
}

a.clickable-div {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit text color to avoid default link color */
    display: block; /* Make the link behave like a block to wrap the div */
}

/* github */
#github {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-color: transparent;
}
/* tu tez jak sie daje myszke to sie cos dzieje  */
#github:hover {
    transform: scale(1.1);
}
/* zdjecie i prodcuts */
.gora{
    width: 100%;
    background-color: transparent;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(201, 196, 196, 0.3);
}
/* doslownie products */
#Products {
    display: flex;
    color: white;
    text-align: center;
    justify-content: center;
    position: absolute; 
    right: 30px; 
    top: 30px; 
    border: 2px solid rgb(90, 90, 90);
    background-color: rgb(90, 90, 90);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* jak sie najedzie na products */
#Products:hover{
    background-color: rgb(112, 112, 112);
    border: 2px solid rgb(112, 112, 112);
    transform: scale(1.1);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 20px; 
}

.card {
    border: 2px solid #ddd;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-wrap: wrap;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #ffffff;
}

.card p {
    font-size: 1em;
    color: #ffffff;
}

.card img:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.dol {
    border: 2px solid rgb(238, 236, 236);
    border-radius: 15px;
    background-color: rgb(238, 236, 236, );
    width: 100%; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    bottom: 0; 
    left: 0;
    margin: 5px; 
    display: flex;
    text-align: center;
    border: 2px solid (238, 236, 236, 0.5);
}
.dol h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    align-items: center;
}
    
.dol a{
    display: flex;
    text-align: center;
    margin: auto;
    
    height: 50px;
    width: 50px;
    margin: 20px;
}

.dol h1:hover{
    color: #6b6a6a;
    transition: opacity 1.1s linear;
}

#scrollToTop {
    border: 2px solid rgb(90, 90, 90);
    background-image: url(https://i.pinimg.com/originals/36/73/6d/36736df449536b5844fc17717825c749.jpg);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute; 
    right: 30px; 
    top: 30px;   
}

#scrollToMid{
    border: 2px solid rgb(90, 90, 90);
    background-image: url(https://i.pinimg.com/originals/36/73/6d/36736df449536b5844fc17717825c749.jpg);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute; 
    right: 160px; 
    top: 30px;  
}

#toggleButton {
    border: 2px solid rgb(90, 90, 90);
    background-image: url(https://i.pinimg.com/originals/36/73/6d/36736df449536b5844fc17717825c749.jpg);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    position: absolute; 
    right: 300px; 
    top: 30px;   
}

#scrollToTop:hover,#scrollToMid:hover,#toggleButton:hover  {
    transform: scale(1.1);
}

.foder{
    border: 2px solid black;
    background-color: rgba(201, 196, 196, 0.3);
    width: 100%;
    text-align: center;
    left: 0;
    padding: 20px;
    bottom: 0;
}
    .foder img{
    margin: 10px;
    }
    .foder img:hover{
    transform: scale(1.1);
}
.foder button{
    border: 2px solid rgb(90, 90, 90);
    background-image: url(https://i.pinimg.com/originals/36/73/6d/36736df449536b5844fc17717825c749.jpg);
    color: white;
    padding: 10px 20px;
    border-radius: 15px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    right: 30px; 
    top: 30px;  
}
.Portfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
.Portfoliojeden, .Portfoliodwa, .Portfolitrzy, .Portfolicztery{
    background-color: rgba(0, 0, 0, 1);
    background-image: linear-gradient(187deg, rgba(119, 118, 118, 1) 3%, rgba(47, 46, 46, 1) 85%),  url(https://img.icons8.com/android/2x/happy.png);
    background-size: auto;
    background-position: left top;
    background-repeat: repeat;
    height: 550px;
    width: 500px;
    border-radius: 30px 30px 30px 30px;
    text-align: left;
    justify-content: center; /* Pozycjonowanie poziome */
    align-items: center; /* Pozycjonowanie pionowe */
    margin: 80px;
    padding: 20px;
    font-size: 20px;
    border: 2px solid white;  
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}
    .Portfolio h1{
        padding: 20px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-shadow: 4px 4px 6px rgba(66, 68, 90, 1);
        text-transform: capitalize;
        text-wrap: wrap; 
    }
    #zdjecie{
        display: flex;
        position: relative;
        height: 200px;
        width: 200px;
        justify-content: center;
        align-items: center;
        right: 0;
    }

.Portfoliojeden:hover, .Portfoliodwa:hover, .Portfolitrzy:hover, .Portfolicztery:hover{
    box-shadow: 8px 8px 24px 0px rgb(134, 134, 134);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
}

