* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: url(https://i.pinimg.com/originals/36/73/6d/36736df449536b5844fc17717825c749.jpg);
}

h1 {
    font-size: 30px;
    text-align: center;
    color: #000000;
}
.pierwszy {
    border-radius: 10px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 10px; 
    width: 400px;
    height: 100px;
    justify-content: center;
    align-items: top;

}

.pierwszy:hover {
    transform: scale(1.1);
}
.gry{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 20px;
    margin: auto;
    transition: all 0.4s ease;
    column-count: 4;
    position: relative;
}
.saper{
    background: rgb(97, 97, 97, 0.5);
    border-radius: 20px;
    padding: 50px;
    margin: 50px;
    transition: all 0.4s ease;
    width: 200px;
    height: 200px;
    box-shadow: inset 0px 0px 42px 0px rgba(66, 68, 90, 1);
    backdrop-filter: blur(5px);

}
.snake{
    background: rgb(97, 97, 97, 0.5);
    border-radius: 20px;
    padding: 50px;
    margin: 50px;
    transition: all 0.4s ease;
    width: 200px;
    height: 200px;
    box-shadow: inset 0px 0px 42px 0px rgba(66, 68, 90, 1);
    backdrop-filter: blur(5px);
}
.case{
    background: rgb(97, 97, 97, 0.5);
    padding: 50px;
    margin: 50px;
    border-radius: 20px;
    transition: all 0.4s ease;
    width: 200px;
    box-shadow: inset 0px 0px 42px 0px rgba(66, 68, 90, 1);
    height: 200px;
    backdrop-filter: blur(5px);
}

.saper:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.snake:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.1);
}

.case:hover {
    transform: scale(1.1);
    background-color: rgb(255, 255, 255);
}

#github{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: transparent;
    width: 60px;
    height: 60px;
    background-color: transparent;
}
#github:hover {
    transform: scale(1.1);
}
